<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header class="p-8 border-2">
          <div class="flex justify-between">
            <a class="text-xl border-2 px-4 py-1 rounded-xl bg-gray-600 text-white" href="/books">List of Books</a>
            <a class="text-xl border-2 px-4 py-1 bg-green-500 text-white rounded-xl" href="/books/new">Add Book</a>
          </div>
      </header>

      <main>
        <section>
          <h1 class="text-center text-2xl mt-10">Welcome to Book Store</h1>
          <a class="text-xl block w-1/12 text-center m-auto border-2 px-4 py-1 mt-5 bg-green-300 text-white rounded-xl" href="/books/new">Add Book</a>
        </section>
      </main>
  </body>
</html>
