<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="text-3xl text-center mt-5">Welcome to Express</h1>
    <a class="text-2xl text-center mt-5 block" href="/articles">list of Articles  </a>
    <a class="text-2xl block w-2/12 border-2 py-2 m-auto mt-5 text-center" href="/articles/new"> Add New Article</a>
  </body>
</html>
